## Task 1 - SQL

### Build SparkSession:

In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [2]:
spark=SparkSession.builder.getOrCreate()

### Read the json file:

In [4]:
data=spark.read.json('DataFrames_sample.json')

### Display the schema:

In [5]:
data.printSchema()

root
 |-- D: double (nullable = true)
 |-- H: double (nullable = true)
 |-- HDD: string (nullable = true)
 |-- Id: long (nullable = true)
 |-- Model: string (nullable = true)
 |-- RAM: string (nullable = true)
 |-- ScreenSize: string (nullable = true)
 |-- W: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Year: long (nullable = true)

### Get all the data when "Model" equal "MacBook Pro":

In [6]:
data.select('*').where(F.col('Model')=='MacBook Pro').show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Create TempView:

In [7]:
data.createOrReplaceTempView('view')

### Display "RAM"column and count "RAM" column:

In [10]:
spark.sql('select Ram from view').show()

+----+
| Ram|
+----+
|16GB|
| 8GB|
| 8GB|
|64GB|
+----+

### Get all columns when "Year" column equal "2015"

In [11]:
spark.sql('select * from view where Year=2015').show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all when "Model" start with "M":

In [22]:
spark.sql("select * from view where Model LIKE 'M%' ").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data when "Model" column equal "MacBook Pro"

In [25]:
spark.sql("select * from view where Model = 'MacBook Pro' ").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data with Multiple Conditions when "RAM" column equal "8GB" and "Model" column is "Macbook".

In [29]:
spark.sql("select * from view where Model = 'MacBook' and RAM = '8GB' ").show()

+----+----+---------+---+-------+---+----------+-----+------+----+
|   D|   H|      HDD| Id|  Model|RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-------+---+----------+-----+------+----+
|7.74|0.52|256GB SSD|  2|MacBook|8GB|       12"|11.04|  2.03|2016|
+----+----+---------+---+-------+---+----------+-----+------+----+

### Get all data with Multiple Conditions when "D" greater than or equal "8" and "Model" column is "iMac".

In [31]:
spark.sql("select * from view where Model = 'iMac' and D >= 8 ").show()

+---+----+-------+---+-----+----+----------+----+------+----+
|  D|   H|    HDD| Id|Model| RAM|ScreenSize|   W|Weight|Year|
+---+----+-------+---+-----+----+----------+----+------+----+
|8.0|20.3|1TB SSD|  4| iMac|64GB|       27"|25.6|  20.8|2017|
+---+----+-------+---+-----+----+----------+----+------+----+

## Task 2

### Read "test1" dataset:

In [35]:
data2=spark.read.csv('test1.csv',header=True,inferSchema=True)

In [37]:
data2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [38]:
data2.createOrReplaceTempView('view2')

### Display Salary of the people less than or equal to 20000

In [39]:
spark.sql("select Salary from view2 where Salary<=20000").show()

+------+
|Salary|
+------+
| 20000|
| 20000|
| 15000|
| 18000|
+------+

### Display Salary of the people less than or equal to 20000 and greater than or equal 15000

In [47]:
spark.sql("select Salary from view2 where Salary between 15000 and 20000").show()

+------+
|Salary|
+------+
| 20000|
| 20000|
| 15000|
| 18000|
+------+

## Task 3

### Read "test3" dataset:

In [48]:
data3=spark.read.csv('test3.csv',header=True,inferSchema=True)

### Display dataset

In [49]:
data3.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

### Display schema

In [50]:
data3.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

### Group by "Name" column and using sum function on "Name" column

In [52]:
data3.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

### Group by "Name" column and using avg function on "Name" column

In [53]:
data3.groupBy('Name').avg().show()

+---------+------------------+
|     Name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

### Group by "Departments" column and using sum function on "Departments" column

In [54]:
data3.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

### Group by "Departments" column and using mean function on "Departments" column:

In [55]:
data3.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

### Group by "Departments" column and using count function on "Departments" column:

In [56]:
data3.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

### Apply agg to using sum function get the total of salaries

In [61]:
data3.agg(F.sum('salary')).collect()

[Row(sum(salary)=73000)]

## Task 4

You've been flown to their headquarters in Ulsan, South Korea, to assist them in accurately estimating the number of crew members a ship will need.

They're currently building new ships for certain customers, and they'd like you to create a model and utilize it to estimate how many crew members the ships will require.

Metadata:
1. Measurements of ship size 
2. capacity 
3. crew 
4. age for 158 cruise ships.

It is saved in a csv file for you called "ITI_data.csv". our task is to develop a regression model that will assist in predicting the number of crew members required for future ships. The client also indicated that they have found that particular cruise lines will differ in acceptable crew counts, thus this is most likely an important factor to consider when conducting your investigation.

In [5]:
df=spark.read.csv("ITI_data.csv",header=True,inferSchema=True)
trainDF, testDF = df.randomSplit([.8,.2],seed=42)
trainDF.show()

+-------------+---------------+---+-----------------+----------+------+------+-----------------+-----+
|    Ship_name|    Cruise_line|Age|          Tonnage|passengers|length|cabins|passenger_density| crew|
+-------------+---------------+---+-----------------+----------+------+------+-----------------+-----+
|    Adventure|Royal_Caribbean| 12|            138.0|     31.14|  10.2| 15.57|            44.32|11.85|
|      Allegra|          Costa| 21|            28.43|      8.08|  6.16|   4.1|            35.19|  4.0|
|      Arcadia|            P&O|  9|             85.0|     19.68|  9.35|  9.84|            43.19| 8.69|
|        Aries|           Star| 22|            3.341|      0.66|   2.8|  0.33|            50.62| 0.59|
|      Armonia|            MSC| 12|             58.6|     15.66|  8.24|  7.83|            37.42|  7.0|
|    Atlantica|          Costa| 13|           85.619|     21.14|  9.57| 10.56|             40.5|  9.2|
|   Brilliance|Royal_Caribbean| 11|            90.09|     25.01|  9.62|  10.5|            36.02| 8.48|
|    Caribbean|       Princess|  9|            116.0|      26.0|  9.51|  13.0|            44.62| 11.0|
|  Celebration|       Carnival| 26|           47.262|     14.86|  7.22|  7.43|             31.8|  6.7|
|      Century|      Celebrity| 18|70.60600000000001|      17.7|  8.15|  8.75|            39.89| 8.58|
|        Cloud|      Silversea| 19|             16.8|      2.96|  5.14|  1.48|            56.76|  2.1|
|     Conquest|       Carnival| 11|            110.0|     29.74|  9.53| 14.88|            36.99| 19.1|
|Constellation|      Celebrity| 11|             91.0|     20.32|  9.65|  9.75|            44.78| 9.99|
|        Coral|       Princess| 11|91.62700000000001|     19.74|  9.64|  9.87|            46.42|  9.0|
|        Crown|      Norwegian| 25|            34.25|     10.52|  6.15|  5.26|            32.56|  4.7|
|         Dawn|      Norwegian| 11|             90.0|      22.4|  9.65|  11.2|            40.18| 11.0|
|         Dawn|       Princess| 16|           77.499|      19.5|  8.56|  10.5|            39.74|  9.0|
|      Destiny|       Carnival| 17|          101.353|     26.42|  8.92| 13.21|            38.36| 10.0|
|        Dream|      Norwegian| 21|            50.76|     17.48|  7.54|  8.74|            29.04| 6.14|
|      Ecstasy|       Carnival| 22|           70.367|     20.52|  8.55|  10.2|            34.29|  9.2|
+-------------+---------------+---+-----------------+----------+------+------+-----------------+-----+
only showing top 20 rows

In [16]:
df.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- passenger_density: double (nullable = true)
 |-- crew: double (nullable = true)

In [56]:
assemblerInputs=[name for (name,dt) in df.dtypes if ((dt!='string')&(name!='crew')) ]
assemblerInputs

['Age', 'Tonnage', 'passengers', 'length', 'cabins', 'passenger_density']

### OneHotEncoder

In [57]:
from pyspark.ml.feature import StringIndexer,OneHotEncoder,VectorAssembler
stringIndexer= StringIndexer(inputCol='Cruise_line',outputCol='Cruise_line_index',handleInvalid='skip')
one_hot_encoder= OneHotEncoder(inputCol='Cruise_line_index',outputCol='Cruise_line_ohe')

### Use VectorAssembler to merge all columns into one column:

In [58]:
assemblerInputs.append('Cruise_line_ohe')
vecAssembler= VectorAssembler(inputCols=assemblerInputs,outputCol='features')

### Create a Linear Regression Model

In [59]:
from pyspark.ml.regression import LinearRegression
lr=LinearRegression(featuresCol='features',labelCol='crew')

### Creating a Pipeline

In [60]:
from pyspark.ml.pipeline import Pipeline
pipline=Pipeline(stages=[stringIndexer,one_hot_encoder,vecAssembler,lr])
piplineModel=pipline.fit(trainDF)

In [61]:
predDF = piplineModel.transform(testDF)

In [65]:
predDF.select('features','crew','prediction').show(5,truncate=False)

+-------------------------------------------------------------+----+------------------+
|features                                                     |crew|prediction        |
+-------------------------------------------------------------+----+------------------+
|(24,[0,1,2,3,4,5,9],[13.0,61.0,13.8,7.8,6.88,44.2,1.0])      |6.0 |6.076991912972243 |
|(24,[0,1,2,3,4,5,16],[29.0,45.0,11.78,7.54,5.3,38.2,1.0])    |5.2 |5.1508155313416255|
|(24,[0,1,2,3,4,5,16],[13.0,76.0,18.74,8.86,9.39,40.55,1.0])  |8.5 |8.602341038488795 |
|(24,[0,1,2,3,4,5,11],[22.0,52.926,13.02,7.18,6.54,40.65,1.0])|6.17|5.495541791006299 |
|(24,[0,1,2,3,4,5,8],[7.0,116.0,31.0,9.51,15.57,37.42,1.0])   |12.0|12.889496273257695|
+-------------------------------------------------------------+----+------------------+
only showing top 5 rows

### Model Evaluation

In [69]:
from pyspark.ml.evaluation import RegressionEvaluator
evaluatore=RegressionEvaluator(labelCol='crew',predictionCol='prediction',metricName='rmse')
rmse=evaluatore.evaluate(predDF)
rmse

0.5379745546359095

By Eng. Mostafa Nabieh 
If you have questions, please feel free to ask.

My Email : nabieh.mostafa@yahoo.com

My Whatsapp : +201015197566